<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Honey Production Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/contact_style.css">
    <!-- Glyphicons Fontawesome link -->
    <script src="https://kit.fontawesome.com/f11d2abb65.js" crossorigin="anonymous"></script>
    <style>
        form {
            margin: 35px;
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
        th {
            text-align: center;
            font-size: large;
        }

        th,
        td {
            padding: 5px;
            font-size: medium;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }

        .result {
            margin: auto;
            width: 90%;
            padding: 5%;
            padding-top: px;
        }

        .input {
            vertical-align: middle;
            align-items: right;
            padding-top: 15%;
            padding-left: 40%;

        }
    </style>

</head>

<body>
    <nav class="nav navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="background:rgb(206, 112, 25)" href="/">Home <i class="fas fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/model">Honey Product Modeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://betterbee-project.herokuapp.com/">Image Recognition</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Visualizations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/viz1">Total Product/Price Per State</a>
                        <a class="dropdown-item" href="/viz2">Production/Pesticide</a>
                        <a class="dropdown-item" href="/viz3">Graphs Dash</a>
                        <a class="dropdown-item" href="/viz4">Maps Dash</a>
                        <a class="dropdown-item" href="/viz5">Colonies Added & Lost</a>
                        <a class="dropdown-item" href="/viz6">Disease and Pesticides</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/documentation">Documentation & References</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <head>
        <title>Honey Production Prediction Models</title>
    </head>

    <body>
        <br>

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <form id="form" action="{{ url_for('main') }}" method="POST">
                    <fieldset>
                        <legend>Input Values:</legend>
                        <br>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <label for="nClothianidin">Clothianidin (kg)</label>
                                    <input class="form-control" name="nCLOTHIANIDIN" type="number" placeholder="7696" required>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <label for="nImicadcloprid">Imicadcloprid (kg)</label>
                                    <input class="form-control" name="nIMIDACLOPRID" type="number" placeholder="3258" required>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <label for="nThiamethoxam">Thiamethoxam (kg)</label>
                                    <input class="form-control" name="nTHIAMETHOXAM" type="number" placeholder="4149" required>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <label for="nAcetamiprid">Acetamiprid (kg)</label>
                                    <input class="form-control" name="nACETAMIPRID" type="number" placeholder="0" required>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <ul>
                                    <label for="nThiacloprid">Thiacloprid (kg)</label>
                                    <input class="form-control" name="nTHIACLOPRID" type="number" placeholder="0" required>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <label for="nAllneonic">All Neonicotinoids (kg)</label>
                                    <input class="form-control" name="nAllNeonic" type="number" placeholder="15103" required>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <label for="numcol">Number of Colonies</label>
                                    <input class="form-control" name="numcol" type="number" placeholder="11000" required>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <label for="totalprod">Total Production (lbs)</label>
                                    <input class="form-control" name="totalprod" type="number" placeholder="616000" required>
                                </ul>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col">
                                <div class="input">
                                    <input type="submit">
                                </div>

                            </div>

                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <br>
                <br>
                <div class="container">
                    <div class="result" align="center">
                        <font size="4" face="-apple-system,BlinkMacSystemFont">
                            <table class="center" border="2" style="display: inline-block;">
                                <thead>
                                    <tr>
                                        <th colspan="10">Honey Production and Product Value Models</th>
                                    </tr>
                                    <tr>
                                        <th>Models</th>
                                        <th>Honey Production (lbs)</th>
                                        <th>Production Value ($)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Linear Regression</td>
                                        <td>{{  HPLR_y  }}</td>
                                        <td>{{  PVLR_y }}</td>
                                    </tr>
                                    <tr>
                                        <td>Lasso</td>
                                        <td>{{  HPL_y }}</td>
                                        <td>{{  PVL_y }}</td>
                                    </tr>
                                    <tr>
                                        <td>Ridge</td>
                                        <td>{{  HPR_y }}</td>
                                        <td>{{  PVR_y }}</td>
                                    </tr>
                                    <tr>
                                        <td>ElasticNet</td>
                                        <td>{{  HPE_y  }}</td>
                                        <td>{{  PVE_y }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </font>
                    </div>
                </div>
            </div>
            <br>


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

    </body>

</html>